.giphy-container {
  position: relative;
  min-height: 90vh;
  max-width: 992px;
  margin: 0 auto; }
  .giphy-container .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.3125rem;
    padding: 0 5px; }
    @media (min-width: 768px) {
      .giphy-container .grid {
        padding: 0;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-auto-rows: 1fr;
        grid-gap: 1rem; } }
    .giphy-container .grid .card {
      display: flex;
      align-items: center;
      cursor: pointer; }
      .giphy-container .grid .card img {
        width: 100%;
        height: 220px;
        object-fit: cover;
        border-radius: 8px; }
