.spinner {
  border: 2px solid #fff;
  border-top: 2px solid rgba(77, 72, 69, 0.24);
  border-right: 2px solid rgba(77, 72, 69, 0.24);
  display: none;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  animation: spin 1s linear infinite;
  font-size: 50px;
  margin: 10px auto; }
  .spinner.infinite-scroll {
    display: block;
    position: relative;
    margin: 10px auto; }
  .spinner.reload {
    display: inline;
    position: absolute;
    margin-left: -32px;
    margin-top: -64px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
